.shop-item {
    display: flex;
    flex-direction: column;

    &__content {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    &__price {
        font-size: 2rem;
        font-weight: 700;
    }
    &__title {
        font-size: 2rem;
        font-weight: 500;
    }

    &__image {
        height: 100%;
        width: 30rem;
    }
}