$color-white   : #FFFFFF;
$color-grey-200: #EEEEEE;
$color-grey-400: #BDBDBD;
$color-grey-600: #757575;
$color-grey-900: #212121;

$color-blue-google: #4285F4;
$color-green-github: #2EBC4F;

$color-green-valid: #23DC3D;